body{
    background-color: antiquewhite;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: normal;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
}

#camera{
    width: auto;
    border-color: blanchedalmond;
}

img{
    width: 50%;
    border-radius: 100%;
    padding: 5%;
}

img:hover{
    border-radius: 140px;
}